/*清除元素默认的内外边距*/
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
button {
	border: none;
}
body {
	color: #f3f5f7;
/*	height: 3000px;*/
}
a {
	text-decoration: none;
}
/*清除浮动方法*/
.claerfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
/*版心 1200 水平居中*/
.w {
	width: 1200px;
	margin: 0 auto;
}
.fixedbar {
	position: fixed;
	top:0;
	left: 50%;
	z-index: 999;
	/* -600版心的一半+自己的宽度+一点点=790 */
    margin-left: -790px;
	width: 180px;
	height: 420px;
	background-color: pink;
}

/*header start*/
.header {
	height: 42px;
/*	background-color: pink;*/
	margin: 30px auto;
}
.logo {
	float: left;
}
.nav {
	float: left;
	margin-left: 60px;
}
.nav ul li {
	float: left;
}
.nav ul li a {
	display: block;
	height: 40px;
	line-height: 40px;
	margin-right: 20px;
	padding: 0 10px;
	font-size: 18px;
	color: #050505;
	text-decoration: none;	
}
.nav ul li a:hover {
	border-bottom: 2px solid #00a4ff;
}
.search {
	float: left;
	margin-left: 70px;
}
.search input {
	float: left;
	width: 360px;
	height: 40px;
	border: 1px solid #00a4ff;
	border-right: 0;
	padding-left: 20px;
	color: #ccc;
}
.search button {
	float: left;
	width: 50px;
	height: 42px;
	background:  url(images/btn.png) repeat-y;
}
.user {
	float: left;
	height: 42px;
	line-height: 42px;
	margin-left: 30px;
	font-size: 14px;
	color: #666;

}
.banner {
	height: 420px;
	background: #1c036c url(images/banner2.jpg) no-repeat center top;
}
.subnav {
	float: left;
	width: 150px;
	height: 420px;
	padding: 0 20px;
	background: rgba(0,0,0,.3);
	
}
.subnav li {
	height: 45px;
	line-height: 45px
}
.subnav li a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.subnav li a:hover {
	color: #00b4ff;
}
.subnav li span {
	float: right;
}
.course {
	float: right;
	width: 228px;
	height: 300px;
	background-color: #fff;
	margin-top: 50px;
}
.course-hd {
	height: 48px;
	background-color: #9bceea;
	font-size: 18px;
	text-align: center;
	line-height: 48px;
	color: #fff;
	font-weight: 700;
}
.course-bd {
	padding: 0 15px;
}
/*ul盒子和bd盒子都是标准流，会发生塌陷问题
.course-bd ul {
	margin-top: 10px;
}*/
.course-bd ul {
	padding-top: 10px;
}

.course-bd li {
	height: 50px;
	border-bottom: 1px solid #ccc;
	margin-top: 12px;
}
.course-bd li h4 {
	font-size: 14px;
	color: #4e4e4e;
}
.course-bd li p {
	font-size: 12px;
	color: #a5a5a5;
}
.all {
	display: block;
	height: 38px;
	border: 1px solid #00a4ff;
	margin-top: 7px;
	font-size: 16px;
	color: #00a4ff;
	text-align: center;
	line-height: 38px;
}
.all:hover{
	background-color: #00a4ff;
	color: #fff;
}
.goods {
	height: 60px;
	background-color: #fff;
	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	margin-top: 10px;
	/*子盒子继承垂直居中*/
	line-height: 60px;
}
.goods h3 {
	float: left;
	margin: 0 30px;
	font-size: 16px;
	color: #00a4ff;
}
.goods-items {
	float: left;
	color: #bfbfbf;
}
.goods-items a {
	font-size: 16px;
	color: #050505;
	margin: 0 30px;
}
.mod {
	float: right;
	margin-right: 30px;
	font-size: 14px;
	color: #00a4ff;
}
.box {
	margin-top: 15px;
}
.box-hd {
	height: 60px;
	line-height: 60px;
	/*background-color: pink;*/
}
.box-hd h3 {
	float: left;
	font-size: 20px;
	color: #494949;
	font-weight: 400;
}
.box-hd a {
	float: right;
	margin-right: 30px;
	font-size: 12px;
	color: #a5a5a5;
}
.box-bd {
	width: 1215px;

}
.box-bd li {
	position: relative;
	float: left;
	margin-right: 15px; 
	margin-bottom: 15px;
	width: 228px;
	height: 270px;
	background-color: #fff;
	box-shadow: 2px 2px 2px rgba(0,0,0, .3);
}
.box-bd li img {
	width: 100%;
}
.box-bd .hot {
	position: absolute;
	top: 0;
	right: -4px;
	width: 40px;
}
.box-bd li h4 {
	margin: 20px 20px;
	font-size: 14px;
	color: #050505;
	font-weight: 400;

}
.box-bd li p {
	margin: 0 20px;
	font-size: 12px;
	color: #999;
}
.box-bd p span {
	color: orange;
}
.footer {
	height: 385px;
	background-color: #fff;
	padding-top: 30px;
}
.copyright {
	float: left;
}
.copyright p {
	font-size: 12px;
	color: #666;
	margin: 20px 0 15px 0;
}
.app{
	display: block;
	width: 118px;
	height: 34px;
	border: 1px solid #00a4ff;
	text-align: center;
	line-height: 34px;	
	font-size: 16px;
	color: #00a4ff;
}
.links {
	float: right;
}
.links dl {
	float: left;
	margin-left: 100px;
}
.links dt {
	height: 35px;
	font-size: 16px;
	color: #333;
}
.links dd a {
	font-size: 12px;
	color: #333;
}
.links dd a:hover {
	color: #00a4ff
}